{%
    set classes = [
        'node',
        'node-vendors',
    ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="vendor-wrapper grid-left-right-center">
    <div class="vendor-grid-left">
      <h5 class="text-align-center">{{ content.field_heading }}</h5>
      <div class="d-flex-center">
        {{ content.field_main_image }}
      </div>
    </div>
    <div class="vendor-grid-right">
      <h5>Description of the Vendor</h5>
        {{ content.body }}
      <div class="vendor-link">
        <p>Visit the vendor's website</p>
        {{ content.field_vendor_url }}
      </div>
    </div>
  </div>
</article>