<header>
    {{ page.header }}
</header>

<main style="padding-top:40px;">
    <div class="wrapper">
        <h2>Description</h2>
        <p>This is a brief paragraph as you can see just for testing purpose.</p>
        <p>We are basically testing if overriden template can have variables. Yes they can but via
        the hooks.<p>

        <p>Below is a simple variable: </p>
        <span>{{ page['somevar'][0] }}</span>

        <div class="fetched__content">
            <h2 style="text-align:center;">List of Vendors</h2>
            <div class="table-vendors">
                <span><strong>NID</strong></span>
                <span><strong>Title</strong></span>
                {% for vendor in page['fetched_vendors'][0] %}
                    <span>{{ vendor['nid'] }}</span>
                    <span>{{ vendor['title'] }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<footer>
    {{ page.footer }}
</footer>