<div id="page">

    {% if page.headline %}
    <section id="headline">
        {{ page.headline }}
    </section>
    {% endif %}

    <header>
    {{ page.header }}
    </header>
    
    <section id="main">
        <div id="content">
            {{ page.content }}
        </div>

        {% if page.sidebar %}
        <aside id="sidebar">
            {{ page.sidebar }}
        </aside>
        {% endif %}
    </section>
    
    {% if page.footer %}
    <footer>
    {{ page.footer }}
    </footer>
    {% endif %}
</div>