<section id="twigex" class="d-grid">
    <div class="wrapper">
        <h4 class="d-grid d-grid-center">Twig Example</h4>
        <div class="content-wrapper">
            <p>Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.
            Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.</p>
        </div>

        <h6 class="d-grid d-grid-center">Test Variables</h6>
        <div>{{ content }}</div>

        <div class="content-wrapper">
            <p>Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.
            Lorem Ipsum est un texte d'espace réservé couramment utilisé dans les industries graphique, imprimée et éditoriale pour prévisualiser les mises en page et les maquettes visuelles.</p>
        </div>

        <h6>Random List of Web Technologies</h6>
        <ul>
            {% for key, value in techno %}
                <li><a href={{ value[1] }}>{{ value[0] }}</a></li>
            {% endfor %}
        </ul>

        <h6 class="d-grid d-grid-center">Working with Macros in Twig Templates</h6>
        <p>Moved the inline macro to an external file for better manageability.</p>
        <small>Spot the import of the macros file in the codes.</small>

        {% import '@blissy/macros.twig' as _macro %}
        <div class="simple-form">
            <label>Your Name</label>
            {{ _macro.input('name', '', 'text', 20) }}

            <label>Your Address</label>
            {{ _macro.input('address', '', 'text', 20) }}

            <label>Your Contact Number</label>
            {{ _macro.input('contact', '', 'text', 8) }}
        </div>
    </div>
</section>